body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.piano-keys {
  word-spacing: 0;
  letter-spacing: 0;
  font-size: 0;
}

.piano-white, .piano-black {
  display: inline-block;
  position: relative;
  vertical-align: top;
  direction: ltr;
  margin: 0;
  padding: 0;
}

.piano-white, .piano-black-raised {
  border-radius: 2px;
  border-color: #222;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  cursor: pointer;
}

.piano-white {
  width: 24px;
  height: 100px;
  background-color: white;
  z-index: 1;
}

.piano-black {
  width: 0;
  height: 100px;
  z-index: 2;
}

.piano-black-raised {
  width: 16px;
  height: 70px;
  position: relative;
  left: -10px;
  background-color: black;
}

.piano-disabled {
  background-color: #82828287;
}
